{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 100,
	"semi": true,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
